<div class="">aaa</div>

<!--<div class="card" style="width: 18rem;" ng-repeat="tile in tiles">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>-->
 

<div class="row">
    <div class="col-sm-3" ng-repeat="tile in tiles">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{tile.Name}}</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="{{tile.Url}}" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>